<section class="screenshots grey-bg" id="courses">

<div class="container">
  
  <!-- SECTION HEADER -->
  <div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
    
    <!-- SECTION TITLE -->
    <h2 class="dark-text">All Courses</h2>
    
    <div class="colored-line">
    </div>
    
  </div>
  <!-- /END SECTION HEADER -->
  
  <div class="col-md-12">
    <div>
        <a [routerLink]="['/admin/']" class="btn btn-default"> Back</a>
        <a [routerLink]="['/admin/courses/create']" class="btn btn-success"> New Course</a>
    </div>
  </div>
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>Course</th>
          <th>Title</th>
          <th>Description</th>
          <th>Start Maxile</th>
          <th>End Maxile</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let course of courses | async">
          <td><img src="{{beURL}}{{course.image}}" width="200"/></td>
          <td>{{course.course}} </td>
          <td align="left">{{course.description}}</td>
          <td>{{course.start_maxile_score}}</td>
          <td>{{course.end_maxile_score}}</td>
          <td>
            <div class="btn-group" role="group" aria-label="First group">
              <a [routerLink]="['/admin/courses/edit', course.id]" class="btn btn-info"><i class="icon_pencil"></i></a>
             <a [routerLink]="['/admin/courses/delete', course.id]" class="btn btn-danger"><i class="icon_minus_alt2"></i></a>
           </div>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
  
</div>
<!-- /END CONTAINER -->

</section>