.answer-row{
	padding-top: 0.5rem !important;
}

.mat-form-field{
	width: 92%;
}

.angular-editor-textarea{
	background-color: white !important;
}

.form-group {
    margin-bottom: 0.2rem;
}

.row {
    margin-bottom: 0.2rem;
}
