#videoplayer {
	
<<<<<<< HEAD
}
=======
}

/* MODAL STYLES
-------------------------------*/
jw-modal {
    display: block;
    width: 55%;
    height: fit-content;
    margin: auto;
    background: #ddd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 20px;
}
.jw-modal-container {
    width: 75%;
    margin: auto;
    border-style: ridge;
    padding: 10px;
}
.second-container {
    margin-top: 50px;
    padding: 25px;
}
.third-container {
    border: 0;
    margin-top: 50px;
}
.jw-modal-row {
    text-align: left;
}
.jw-modal-row label {
    font-size: 13px;
    font-weight: normal;
}
.enrol-parent-field {
    padding-left: 20px;
}
.student-mail-group {
    max-height: 148px;
    overflow-y: scroll;
}
.student-mail {
    margin-left: 25px;
    width: 70%;
}
.student-mail-disable {
    margin-left: 25px;
    width: 70%;
    background: round;
}
input:required:focus {
    border: 1px solid red;
    outline: none;
}
input:required:hover {
    opacity: 1;
}
.number-place {
    margin-left: 15px;
    width: 70%;
}
.number-place-disable {
    margin-left: 15px;
    width: 70%;
    background: round;
}
.price, .currency, .description, .amount {
    width: 80%;
    background: round;
}
.currency {
    margin-left: 25px;
}
.price {
    margin-left: 48px;
}
.description {
    margin-left: 13px;
}
.amount {
    margin-left: 5px;
}
.modal-btn {
    width: 100px;
}
span {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: large;
}
>>>>>>> f40822d8ae496af5645f08f365e577f210711623
