<section class="screenshots grey-bg" id="courses">

<div class="container">
  
	<ag-userinfo [user]="user"></ag-userinfo>
	<div class="container">
		<ul class="nav nav-pills">
			<li class="active"><a data-toggle="tab" href="#enrolled">Enrolled Classes</a></li>
			<li><a data-toggle="tab" href="#teaching">Class Management</a></li>
			<li><a data-toggle="tab" href="#recommendedcourses"> Recommended Courses</a></li>
		</ul>
	</div>
	<div class="tab-content membercontent">
	  <section class="enrolled" id="enrolled" class="tab-pane fade in active">
	   	<ag-house-detail [selectedHouse] = "selectedHouse" (selectedEvent)="selectHouse($event)" (selectedVideo)= "selectSkill($event)"></ag-house-detail>
		<ag-house-list (selectedEvent) = "selectHouse($event)"></ag-house-list>
	  </section>
	  <section class="enrolled" id="teaching" class="tab-pane fade in">
	    <ag-teach-detail [user]="user" [selectedTeach] = "selectedTeach" (selectedEvent)="selectTeach($event)" (selectedVideo)= "selectSkill($event)"></ag-teach-detail>
		<ag-teach-list (selectedEvent) = "selectTeach($event)"></ag-teach-list>
	  </section>
	   <section class="enrolled" id="recommendedcourses" class="tab-pane fade in">
		<div class="container">
			<div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
				<h2 class="dark-text">Recommended Courses</h2>
				<div class="colored-line">
				</div><br />
				<div class="row wow bounceIn animated" data-wow-offset="10" data-wow-duration="1.5s">
					<ag-course-detail [selectedCourse]="selectedCourse"></ag-course-detail>				
					<ag-course-list (selectedEvent)="selectCourse($event)"></ag-course-list>
				</div>		
			</div>
		</div>
	   </section>
	</div>
 </div>
</section>
<jw-modal *ngIf="isModal" id="enrollment-modal">
  <span (click)="closeModal()">&times;</span>
  <h3>Enrol Info</h3>
  <div class="jw-modal-container">
    <div class="jw-modal-row">
      <input class="enrol-parent" type="radio" name="enrol_radio" value="parent" [(ngModel)]="modalRadio" > Parent
      <div class="enrol-parent-field">
        <div class="student-mail-group">
          <div class="mail" *ngFor="let number of numbers; let i = index">
            <label>Student Email {{number+1}}</label>
            <input *ngIf="modalRadio == 'parent'" class="student-mail" type="email" name="student_mail" (change)="emailChange(i, $event)" [(ngModel)]="email_value[i]">
            <input *ngIf="modalRadio != 'parent'" class="student-mail-disable" type="text" name="student_mail" disabled>
          </div>
        </div>
        <div class="number">
          <label>Number of places</label>
          <input *ngIf="modalRadio == 'parent'" class="number-place" type="number" name="number_place" [(ngModel)]="place_value" (change)="onChange($event)">
          <input *ngIf="modalRadio != 'parent'" class="number-place-disable" type="number" name="number_place" disabled>
        </div>
      </div>
    </div>
    <div class="jw-modal-row">
      <input class="enrol-student" type="radio" name="enrol_radio" value="student" [(ngModel)]="modalRadio"> Student
    </div>
  </div>
  <div class="jw-modal-container second-container">
    <div class="jw-modal-row">
      <div class="currency-text">
        <label>Currency</label>
        <input class="currency" type="text" [(ngModel)]="currency_value" name="currency" disabled>
      </div>
      <div class="price-text">
        <label>Price</label>
        <input class="price" type="text" name="price" [(ngModel)]="price_value" disabled>
      </div>
      <div class="description-text">
        <label>Description</label>
        <input class="description" type="text" name="description" [(ngModel)]="description" disabled>
      </div>
      <div class="amount-text">
        <label>Amount Due</label>
        <input class="amount" type="text" name="amount" [(ngModel)]="amount_due" disabled>
      </div>
    </div>
  </div>
  <div class="jw-modal-container third-container">
    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
  </div>
</jw-modal>
