<nav class="navbar bs-docs-nav navbar-fixed-top sticky-navigation navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a [routerLink]="['/home']" class="navbar-brand"><img src="images/favicon.ico" alt="all gifted logo"></a>
    </div>

    <!-- Navbar Right -->
    <div class="collapse navbar-collapse" id="kane-navigation" *ngIf="!isAuthenticated()">
        <ul class="nav navbar-nav navbar-right main-navigation">
          <li><a [routerLink]="['/home']">Home</a></li>
          <li><a href="#howitworks">How it Works</a></li>
          <li><a href="#courses">Courses</a></li>
          <li><a href="#ourprograms">Programs</a></li>          
          <li><a href="#pedagogy">Pedagogy</a></li>
          <li><a href="#philosophy">Teaching Philosophy</a></li>
          <li><a href="#aboutus">About Us</a></li>
          <li *ngIf="isAuthenticated()"><a (click)="logout()">Logout</a></li>
          <li *ngIf="!isAuthenticated()"><a (click) = "login()">Login</a></li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2" *ngIf="isAuthenticated()">
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a [routerLink]="['']"><i class="icon_house_alt"></i></a></li>
        <li routerLinkActive="active"><a [routerLink]="['/leader']"><i class="icon_star_alt"></i></a></li>
        <li routerLinkActive="active"><a [routerLink]="['/admin']"><i class="icon_pencil-edit"></i></a></li>
        <li class="dropdown" ngDropdown>
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="icon_profile"></i>
            <span class="caret"></span></a>

          <ul class="dropdown-menu" role="menu">
            <li *ngIf="isAuthenticated()"><a (click)="logout()">Logout</a></li>
            <li *ngIf="!isAuthenticated()"><a (click) = "login()">Login</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>