<section class="screenshots grey-bg" id="skills">
  <div class="container">
    <!-- SECTION HEADER -->
    <div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
      <!-- SECTION TITLE -->
      <h2 class="dark-text">All Skills</h2>
      <div class="colored-line">
      </div>
    </div>
    <!-- /END SECTION HEADER -->
    <div *ngIf="updateStatus" class="alert alert-success alert-dismissible" role="alert">
      {{ updateStatus }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="resetUpdateStatus()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="col-md-12">
      <div>
        <a [routerLink]="['/admin/']" class="btn btn-default"> Back</a>
        <a [routerLink]="['/admin/skills/create']" class="btn btn-success"> New Skill</a>
      </div>
      <br />
    </div>
    <div class="row search-area">
      <div class="col-md-12 search-area-ctrl">
        <input (input)="doSearch($event.target.value)" class="form-control" type="text" placeholder="Search by Author | Description | Skill Title">
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <mat-card id="ToggleGridColumnsContainer" class="result">
            <mat-card-content>
              <h5 class="example-h2">Toggle Columns</h5>

              <section class="toggle-columns-section">
                <mat-slide-toggle [(ngModel)]="ShowColumns.Skill" color="primary">
                  Skill
                </mat-slide-toggle>

                <mat-slide-toggle [(ngModel)]="ShowColumns.Title" color="primary">
                  Title
                </mat-slide-toggle>

                <mat-slide-toggle [(ngModel)]="ShowColumns.Description" color="primary">
                  Description
                </mat-slide-toggle>

                <mat-slide-toggle [(ngModel)]="ShowColumns.Author" color="primary">
                  Author
                </mat-slide-toggle>

                <mat-slide-toggle [(ngModel)]="ShowColumns.Tracks" color="primary">
                  Track
                </mat-slide-toggle>

                <mat-slide-toggle [(ngModel)]="ShowColumns.Questions" color="primary">
                  Questions
                </mat-slide-toggle>

                <mat-slide-toggle [(ngModel)]="ShowColumns.Action" color="primary">
                  Action
                </mat-slide-toggle>
              </section>
            </mat-card-content>
          </mat-card>
          <table class="table">
            <thead>
              <tr>
                <th [hidden]="!ShowColumns.Skill" class="mat-table-th">Skill</th>
                <th [hidden]="!ShowColumns.Title" class="mat-table-th mat-table-th_clickable" [ngClass]="{
                  'mat-table-th_active': sortedByTitle,
                  'mat-table-th_reversed': reversedByTitle,
                  'mat-table-th_inactive': !reversedByTitle && !sortedByTitle
                }"
                    (click)="sortBy('title')">
                  Title
                </th>
                <th [hidden]="!ShowColumns.Description" class="mat-table-th mat-table-th_clickable" [ngClass]="{
                  'mat-table-th_active': sortedByDescription,
                  'mat-table-th_reversed': reversedByDescription,
                  'mat-table-th_inactive': !reversedByDescription && !sortedByDescription
                }"
                    (click)="sortBy('description')">
                  Description
                </th>
                <th [hidden]="!ShowColumns.Author" class="mat-table-th mat-table-th_clickable" [ngClass]="{
                'mat-table-th_active': sortedByAuthor,
                'mat-table-th_reversed': reversedByAuthor,
                'mat-table-th_inactive': !reversedByAuthor && !sortedByAuthor
              }"
                    (click)="sortBy('Author')">
                  Author
                </th>
                <th [hidden]="!ShowColumns.Tracks" class="mat-table-th">Tracks</th>
                <th [hidden]="!ShowColumns.Questions" class="mat-table-th">Questions</th>
                <th [hidden]="!ShowColumns.Action" class="mat-table-th action-2">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="skills.length==0">
                <td colspan="7" align="center">
                  <p>No data exist!!</p>
                </td>
              </tr>
              <tr *ngIf="loading" class="mat-table-spinner-wrapper">
                <td colspan="7" align="center" class="mat-table-spinner">
                  <mat-spinner color="#960000"></mat-spinner>
                </td>
              </tr>
              <ng-container *ngFor="let skill of skills">
                <tr>
                  <td [hidden]="!ShowColumns.Skill">
                    <img *ngIf="!skill.play" style="height:142px;" (click)="skill.play=true" src="/assets/images/play_video.png" />
                    <video *ngIf="skill.play" width="250" controls autoplay>
                      <source [src]="videoUrl(skill.lesson_link)" type="video/mp4" />
                      Your browser does not support HTML5 video.
                    </video>
                  </td>
                  <td [hidden]="!ShowColumns.Title">{{ skill.skill }}</td>
                  <td [hidden]="!ShowColumns.Description" align="left">
                    <p>{{ skill.description }}</p>
                  </td>
                  <td [hidden]="!ShowColumns.Author">{{ skill.user.firstname }} {{skill.user.lastname}}</td>

                  <td [hidden]="!ShowColumns.Tracks">
                    <a (click)="showTracks(skill.tracks)">Show Tracks</a>
                  </td>
                  <td [hidden]="!ShowColumns.Questions">
                    <a data-toggle="collapse" (click)="loadQuestions(skill)" href="#collapse{{skill.id}}">Questions</a>
                  </td>
                  <td [hidden]="!ShowColumns.Action">
                    <div class="btn-group" role="group" aria-label="First group">
                      <a (click)="editSkill(skill.id)" class="btn btn-info"><i class="icon_pencil"></i></a>
                      <a (click)="openDialog(skill.id)" class="btn btn-danger"><i class="icon_minus_alt2"></i></a>
                    </div>
                  </td>
                </tr>
                <tr class="panel-collapse collapse" id="collapse{{skill.id}}">
                  <td colspan="7">
                    <div *ngIf="skill.loadingQuestions" class="mat-table-spinner-wrapper">
                      <div colspan="5" align="center" class="mat-table-spinner">
                        <mat-spinner color="#960000"></mat-spinner>
                      </div>
                    </div>
                    <div *ngIf="skill.questions?.length==0 && !skill.loadingQuestions">
                      <p>No data exist!!</p>
                    </div>
                    <div *ngIf="skill.questions?.length>0">
                      <table class="table">
                        <thead>
                          <tr>
                            <th class="mat-table-th">Skill</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let q of skill.questions">
                            <td>
                              <div [innerHTML]="q.question"></div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /END CONTAINER -->
</section>
<div style="display:none" class="modal fade" id="trackPassed" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="hideTracks()">&times;</button>
        <h4 class="modal-title">Tracks</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <fieldset>
              <div class="modal-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Track</th>
                        <th>Description</th>
                        <th>Level</th>
                        <th>Level Age</th>
                        <th>Start Maxile Level</th>
                        <th>End Maxile Level</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let track of currentTracks">
                        <td>{{track.track}}</td>
                        <td>{{track.description}}</td>
                        <td>{{track.level.level}}</td>
                        <td>{{track.level.age}}</td>
                        <td>{{track.level.start_maxile_level}}</td>
                        <td>{{track.level.end_maxile_level}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
              <div class="modal-footer">
                <div class="form-group">
                  <div class="col-lg-6 col-lg-offset4">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="hideTracks()">Close</button>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
